


*{
    margin: 0px;
    font-family: Favoritfreshly,sans-serif;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
/* HEADER SECTION  */

#head{
    display: flex;
    justify-content: center;
    margin-top: 4px;
}
#head a{
    text-decoration: none;
    font-weight: bold;
    margin-left: 35px;
    color: grey;
    padding: 5px;
}
#head a:nth-child(1):active{
    color: green;
    border-bottom: 2px solid green;
}
#head a:nth-child(2):active{
    color: skyblue;
    border-bottom: 2px solid skyblue; 
}
#head span{
    color: rgb(44, 221, 21);
}
#head #lgreen{
    color: rgb(18, 58, 20);
}

/* NAVBAR SECTION  */

nav{
    /* height: 65px; */
    margin-bottom: 10px;
    height: auto;
    position: sticky;
    top: 0px;
    left: 30px;
    background-color: rgb(255, 253, 247);
    padding: 10px 0px;
    z-index: 100;
    /* transition: all 5s ease-in-out;   */
}
nav >div{
    width: 96%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 3fr 6fr;
    /* justify-content: space-between; */
    align-items: center;
    
 /* background-color: royalblue; */
}
#nav-menu{
    display: flex;
    justify-content: space-between;
    
    /* background-color: whitesmoke; */
}

nav img{
    width: 110px;
}
nav a{
    text-decoration: none;
    padding: 15px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: black;
    padding-top: 10px;
    vertical-align: middle;
    font-size: 0.9em;
}
nav .right>a:nth-child(2){
    background-color: #096dea;
    color: white;
    padding: 9px 15px;
    font-size: 0.9em;
    
}
nav a:hover{
    color:#096dea ;
}
nav .right>a:nth-child(2):hover{
    /* position: relative; */
    bottom: 2px;
    left: 2px;
    box-shadow: 0px 0px 2px 2px #096dea;
}
.burger{
    position: absolute;
    top: 35px;
    cursor: pointer;
    display: none;
    right: 5%;
}
.line{
    width: 33px;
    background-color: black;
    height: 4px;
    margin: 5px 3px;
}

.box{
    display: flex;
    justify-content: center;
    margin-top: -16px;
    margin-bottom: 50px;
    
}
h1{
    font-size: 3em;
}
select{
    padding: 3px;
    margin-top: 10px;
    margin-left: 15px;
}
h5{
    color: rgb(182,182,181);
    font-size: 1.1em;
    font-weight: 200;
}
h4,h5{
    margin-top: 10px;
}
img{
    height: auto;
    display: block;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
.box1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
}
#des{
    color: rgb(53,118,121);
    font-size: 1em;
    margin-top: 5px;
}
.inside1{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inside1>h1{
    margin: 30px;
    text-align: center;
}
.inside2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#margin>img{
    margin: 6px;
}
.inside1>img{
    width: 200px;
}
.inside1>p{
   color: black;
   font-size: 1.1em;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   line-height: 25px;

}
#change_p{
    margin: 50px;
    text-align: center;
    font-weight: bold;
}
#change_p1{
    margin: 50px;
    text-align: center;
    color: black;
    font-weight: 400;
    width: 50%;
    line-height: 24px;
    font-size: 0.9em;
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
#change_p1 a{
    color: blue;
}
button{
    text-decoration: none;
    border: none;
    padding: 20px;;
    background-color: rgb(49,103,255);
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
    margin-bottom: 100px;
}
button:hover{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.inside3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    color: rgb(53,118,121);
}
.learnmore{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.learnmore>div{
   display: flex;
   flex-direction: column;
}
#widthchange>img{
    width: 100%;
    height: 100px;
}
.container2{
    background-color: rgb(255,253,247);
    padding: 30px;
}
.content>p{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: black;
    line-height: 25px;
}
.content>h1{
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    color: black;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin-bottom: 60px;
}
#widthchange>img{
       margin-bottom: 20px;
}
#widthchange>h2{
       margin-bottom: 20px;
}
#widthchange>p{
       margin-bottom: 20px;
}
    .layout{
        width: 90%;
        margin: auto;
    }
    .a{
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .a_question:hover{
      color:rgb(42,109,255);
    }
    .a_question {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin: auto;
        margin-top: -24px;
        color: blue;
        margin-bottom: 20px;
    }
    .a_question  p{
        margin-top: 25px;
    }
   .a:hover{
        cursor: pointer;
    }
    .a_answer {
        width: 80%;
        height: auto;
        margin: auto;
        display: none;
        font-family: FavoritFreshly,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .a_question.active .a_answer {
        display: block;
    }
    hr{
        width: 80%;
        height: 0.1px;
        color: rgb(212, 209, 209);;
        border: none;
        background-color: rgb(187, 184, 184);
        border-radius: 0.5px;
        margin-top: 30px;
    }
    #common{
        text-align: center;
        font-size: 50px;
        font-family: FavoritFreshly,Helvetica Neue,Helvetica,Arial,sans-serif;;
        margin: 40px;
    } 
    .layout{
        width: 90%;
        margin: auto;
    }
    .a{
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .a_question:hover{
      color:rgb(42,109,255);
    }
    .a_question {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin: auto;
        margin-top: -24px;
    }
    .a_answer {
        width: 80%;
        height: auto;
        margin: auto;
        display: none;
        font-family: FavoritFreshly,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .a:hover{
        cursor: pointer;
    }
    
    .a:active .a_answer {
        display: block;
    }
    hr{
        width: 80%;
        height: 0.1px;
        color: rgb(212, 209, 209);;
        border: none;
        background-color: rgb(187, 184, 184);
        border-radius: 0.5px;
        margin-top: 30px;
    }
    h1{
        text-align: center;
        font-size: 50px;
        font-family: FavoritFreshly,Helvetica Neue,Helvetica,Arial,sans-serif;;
    }   

