.nav {
    display: flex;
    background-color:white;
    color: white;
    height: 50px;
    padding: 25px 0 0 20px ;
    border-radius: 5px;
    justify-content: space-between;
}
img{
    height: 50px;
}
.img{
    width: 15%;
    height: 20px;
    margin-top: -15px;
}
.right {
    color: rgb(208,208,208);
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-top: -14px;
}
.customer{
    color:rgb(86, 138, 250) ;
    margin-top: -5px;
    font-weight: bold;
    font-size: 20px;
}
#col{
    color: rgb(44,110,255);
    border: 0px;
}
#que{
    width: 15%;
    height: 30px;
    
}
.backimg{
   background-image: url("https://res.cloudinary.com/freshly/image/upload/c_crop,g_auto,dpr_auto,q_30,w_1942,h_900/v1494958610/joinnow-southchicken.jpg");
   height: 800px;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
 transition: all 1s; 
   
}
.customer:hover{
    color: rgb(33, 99, 241);
}
.box{
    width: 65%;
    height: auto;
    padding-bottom: 20px;
    position: absolute;
    top: 29.5%;
/* margin: 100px auto; */
    left: 19%;
    background-color: rgb(240,238,233,0.8);           
}
.box img{
    display: none;
}
.h1h1{
    font-size: 3.2em;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
}
.h2{
    font-size: 2.3em;
    margin-left: 40px;
    font-family: 'Varela Round', sans-serif;
}
.detail{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    grid-gap: 37px;
    margin-left: 40px;
    /* justify-content: space-between; */
    margin-right: 40px;
    margin-bottom: 40px;

}
.emailinput{
    width: 90%;
    height: 18px;
    background-color:white;
    border-radius: 5px;
    border: 2px solid gray;
    padding: 20px;
}
::placeholder{
    font-weight: bold;
    font-size: 20px;
}
.zipinput{
    /* width: 120px; */
    width: 80%;
    background-color:white;
    border-radius: 5px;
    border: 2px solid gray;
    padding: 20px;

}
.submit{
    width: 100%;
    background-color:rgba(34, 121, 221, 0.603) ;
    border: 0px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.submit:hover{
    background-color: rgb(42,109,255);
}
.ptag{
    margin-left: 40px;
    /* margin-top: 0px; */
    /* margin-top: 0px; */
    font-family: 'Roboto', sans-serif;
}
.atag{
    display:flex;
    margin-top: -30px;
    margin-bottom: -15px;
}
#a{
    margin-top: 15px;
    color: rgb(97,130,250);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.p {
    margin-top: 0px;
    margin-left: 40px;
}
#logo{
    color: black;
}
.cust{
    font-weight: bold;
    font-family:  FavoritFreshly,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#plan{
    display: flex;
}
#a:hover{
    color: rgb(42,109,255);
}
.h1{
    margin: auto;
}
.layout{
    width: 90%;
    margin: auto;
}
.a{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.a_question:hover{
  color:rgb(42,109,255);
}
.a_question {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: auto;
    margin-top: -24px;
}
.a:hover{
    cursor: pointer;
}
.a_answer {
    width: 80%;
    height: 150px;
    margin: auto;
    display: none;
    font-family: FavoritFreshly,Helvetica Neue,Helvetica,Arial,sans-serif;
} 
.a.active .a_answer {
    display: block;
}
.hr{
    width: 80%;
    height: 0.1px;
    color: rgb(212, 209, 209);;
    border: none;
    background-color: rgb(187, 184, 184);
    border-radius: 0.5px;
    margin-top: 30px;
}
.h1line{
    text-align: center;
    font-size: 50px;
    font-family: FavoritFreshly,Helvetica Neue,Helvetica,Arial,sans-serif;;
}  

/* mobile */
@media screen and (max-width:1200px){
    .detail{
        grid-template-columns: repeat(2,1fr);
    }
    .ptag{
        margin-left: 15px;
    }
    .right{
        margin-left: 80px;
    }
}
@media  screen and (max-width:800px) {
    .box img{
        display: block;
        width: 200px;
        position: relative;
        top: 10px;
        left: 10px;
        
    }
    .h1h1{
        font-size: 2.2em;
    }
    .h2{
        font-size: 1.3em;
    }
    .detail{
        grid-template-columns: 1fr;
    }
    .zipinput{
        width: 90%;
    }
    .box{
        top: 16.5%;
    }
    img{
        display: none;
    }
}
@media screen and (max-width:425px){
    .box{
        width: 85%;
        left: 7%;
    }
    .box img{
        width: 100px;
    }
    .cust{
        display: none;
    }
    .ptag{
        margin-left: 4px;
    }
    .right{
        margin-left: -80px;
    }
    .h1h1{
        font-size: 1.2em;
    }
    .h2{
        font-size: 0.9em;
    }
    .detail{
        margin-left: 10px;
    }
    .emailinput{
        padding: 10px;
    }
    .zipinput{
        padding: 10px;
    }
    .h1line{
        font-size: 20px;
    }
    .a_question{
        font-size: 14px;
    }
}